<div>
  <h1>{{ title }}</h1>

  <input
    type="text"
    [(ngModel)]="fromFilho"
    (keyup)="writeToPai($event.target.value)"
    placeholder="Escreva para o pai aqui..."
  >

  <input
    type="text"
    [value]="fromPai"
    placeholder="O componente pai vai escrever aqui..."
    disabled
  >

</div>
