<div>
  <h1>{{ title }}</h1>
  <input
    type="text"
    placeholder="Escreva para o filho aqui..."
    [(ngModel)]="fromPai"
  >

  <input
    type="text"
    [value]="fromFilho"
    placeholder="O componente filho vai escrever aqui..."
    disabled
  >
</div>

<br>
<br>
<hr>

<app-filho
  (quandoFilhoEscrever)="receiveMessageFromFilho($event)"
  [fromPai]="fromPai"
></app-filho>
